azure-functions
azure-data-tables
azure-identity
azure-monitor-opentelemetry-exporter>=1.0.0b53
azure-search-documents
azure-servicebus
agent-framework-core==1.0.0b251001
fastmcp==3.4.2
google-genai
httpx
mcp[cli]<2
msal
python-dotenv
semantic-kernel[azure]
